a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  color: white;
  margin-left: 35%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #2833cb, #002d77, #1700e8);
  background-size: 300%;
  animation: moveGradient 5s ease-in-out infinite;
  background-repeat: no-repeat;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
    /* top-left */
  }

  50% {
    background-position: 100% 100%;
    /* bottom-right */
  }

  100% {
    background-position: 0% 0%;
  }
}

.profile {
  position: fixed;
  width: 35%;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 10%;
}

/* Profile */
.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 60px;
  margin: 10px 0;
}

p {
  font-size: 20px;
  margin-bottom: 15px;
  font-style: italic;
}

/* Robot */
.robot {
  width: 120px;
  margin: 30px auto;
  display: block;
  position: relative;
  animation: float 2s ease-in-out infinite, move 6s linear infinite;
}

/* Floating */
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Left → Right */
@keyframes move {
  0% {
    left: -20px;
  }

  50% {
    left: 20px;
  }

  100% {
    left: -20px;
  }
}

/* Links */
.links-container {
  width: 500px;
  margin-top: 35%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: rgb(18, 18, 238);
  font-weight: 700;
  font-size: 22px;
}

.link {
  width: 200px;
  height: 200px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  border-radius: 40px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background: #1700e8;
  color: white;
  transform: scale(1.05);
}

.link h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

#cook-background {
  background-image: url('https://cookmaster-recipe.vercel.app/Cook%20master.png');
  background-size: cover;
  background-position: center;
}

#gallery-background {
  background-image: url('https://gallery-aj.vercel.app/8377243.png');
  background-size: cover;
  background-position: center;
}

#clock-background {
  background-image: url('https://clock-aj-navy.vercel.app/clock-logo.png');
  background-size: cover;
  background-position: center;
}

#youtube-background {
  background-image: url('https://cdn.pixabay.com/photo/2021/03/02/12/04/youtube-6062251_960_720.png');
  background-size: cover;
  background-position: center;
}

.fa {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 6px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}

/* Footer */
footer {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}

@media (max-width:300px) {}